body {
margin: 0;
}
#ads{text-align: center;
line-height: 50px;
font-size: 21px;
top: 0 ;
left: 0;
background: yellow;
position: fixed;
width: 100%;
margin: 0 auto;
height: 50px;
border: 1px solid black;}
p{
width: 600px;
margin: 60px auto;
padding: 20px;
border: 1px solid yellow;}